services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sales_api
    ports:
      - "${API_PORT}:8080"
    depends_on:
      - postgres
    env_file:
      - .env
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
      ConnectionStrings__PostgresConnection: Host=postgres;Port=5432;Database=salesdb;Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
    networks:
      - sales-network

  postgres:
    image: postgres:16
    container_name: sales_postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5433"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - sales-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: sales_pgadmin
    env_file:
      - .env
    ports:
      - "${PGADMIN_PORT}:80"
    depends_on:
      - postgres
    networks:
      - sales-network

volumes:
  postgres_data:

networks:
  sales-network:
    driver: bridge
